<footer>
    
    <div class="container__footer">
        <div class="box__footer">
            <div class="logo">
                <img src="bancoimagenes/logo.jpg" alt="">
            </div>
            
        </div>
        <div class="box__footer">
            <h2>Sobre Nosotros  </h2>
            <div class="terms">
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima laudantium laborum iste
                    reprehenderit dolore provident, impedit expedita, eligendi facilis architecto reiciendis! Incidunt
                    praesentium, non delectus rerum dolor ratione ipsam voluptatem!</p>
            </div>
        </div>
        <div class="box__footer">
            <h2>Compañia</h2>
            <a href="#">Acerca de</a>
            <a href="#">Trabajos</a>
            <a href="#">Procesos</a>
            <a href="#">Servicios</a>
        </div>
        <div class="box__footer">
            <h2>Redes Sociales</h2>
            <a href="#"><i class="fa-brands fa-square-facebook"></i>Facebook</a>
            <a href="#"><i class="fa-brands fa-square-twitter"></i>Twitter</a>
            <a href="#"><i class="fa-brands fa-linkedin"></i>Linkedin</a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i>Instagram</a>
        </div>
    </div>
    <div class="box__copyright">
        <hr>
        <p>Todos los derechos reservados © 2022 <b>Grupo 7</b></p>
    </div>
   </footer> 