<header>
        <div class="divtophead">
            <div class="divlogo">
                <img class="logo" src="/design/logo.jpg" alt="logo">
            </div>
            <div class="divsearch">
                <form>
                    <input class="search" type="text" placeholder="¿Qué estás buscando?">
                </form>
            </div>
            <div class="divcuenta">
                <a href="#"><img src="/design/cuenta.png" alt="micuenta"></a>
                <p>Mi Cuenta</p>
            </div>
            <div class="divcarro">
                <a href="#"><img src="/design/compras.png" alt="carrito"></a>
                <p>Compras</p>
            </div>
        </div>
        <div class="divnav">
            <nav>
                <ul class="nav_links">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Clientes</a></li>
                    <li><a href="#">Contacto</a></li>                
                </ul>            
            </nav>
</div>
</header> 