<header>
        <div class="divtophead">
            <div class="divlogo">
                <a href="/"><img class="logo" src="/design/logotipo2.jpg" alt="logo"></a>
            </div>
            <div class="divsearch">
                <form>
                    <input class="search" type="text" placeholder="¿Qué estás buscando?">
                </form>
            </div>
            <div class="divcuenta">
                <% if (locals.isLogged==true){ %>
                    <a href="/login"><img class="imagenPerfil" src="/images/users/<%=locals.usuarioLogueado.image%>"></a>
                    <p><%=locals.usuarioLogueado.nombre%></p>
                   
                <% }else{ %>
                    <a href="/login"> <img src="/bancoimagenes/cuenta.png" alt="micuenta"></a>
                        <p>Mi Cuenta</p>
                    <%}%>
                    
            </div>
            <div class="divcarro">
                <a href="/products/carro"><img src="/design/compras.png" alt="carrito"></a>
                <p>Compras</p>
            </div>
        </div>
        <div class="divnav">
            <nav>
                <ul class="nav_links">
                    <li><a href="/user/salir">Salir</a></li>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/products/lista">Productos</a></li>
                    <li><a href="/products/crear">Crear</a></li>
                    <li><a href="/nosotros">Nosotros</a></li>
                    <li><a href="/user/listaUsuarios">Usuarios</a></li>
                    <li><a href="/contacto">Contacto</a></li>                
                </ul>            
            </nav>
</div>
</header> 