<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleCarro.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/81fea61b65.js" crossorigin="anonymous"></script>

    <title>Carrito</title>
</head>

<body>
<header>

</header>
<main>
<div class="productos">
<div class="titulo">
    <div class="general">lalalal</div>
    <div class="barra">
        <div>a</div>
        <div>b</div>
        <div>c</div>
        <div>d</div>
        <div class="icono"><i class="fa-solid fa-trash-can"></i>
        </div>
    </div>
    
</div>
<div class="seleccionado">
    <div>FOTO</div>
    <div>$5000</div>
    <div>1</div>
    <div>$50000</div>
    <div>ICONO</div>
</div>
<div class="seleccionado">
    <div>FOTO</div>
    <div>$5000</div>
    <div>1</div>
    <div>$50000</div>
    <div>ICONO</div>
</div>
<div class="seleccionado"> 
<div>FOTO</div>
<div>$5000</div>
<div>1</div>
<div>$50000</div>
<div>ICONO</div>
</div>
</div>
<div class="compra">
chau
</div>

</main>

    
</body>
</html>