<!DOCTYPE html>
<html>
    <head>
        <%-include('./partials/head')%>
        <link rel="stylesheet" href="../css/stylecrear-editar.css">
        <link rel="stylesheet" href="../css/styleHeader.css">
        <title>Crear Producto</title>
        </head>

<body>
<%-include('./partials/header')%>
<main>
        <h3>Crear un nuevo producto</h3>
        <form action="/products/crear" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name"class="texto">Nombre del producto:</label>
                <input type="text" id="name" name="name" placeholder="Ej. Velon Rojo">
            </div>
            <div>
                <label class="texto" for="description">Descripción del producto:</label>
                <input type="text" id="description" name="description" placeholder="Describa el producto aquí">
            </div>

            <div>
                <label class="texto">Imagen:</label>
                <label class="label-imagen" for="image"> Seleccionar Imagen</label>
                    <input type="file" id="image" name="image" class="input-imagen">
                </label><br>
            </div>
            <div>
                <select name="category" class="opciones">
                    <option value="velas">Velas</option>
                    <option value="velones">Velones</option>
                    <option value="accesorios">Accesorios</option>
                    <option value="otra">Otra</option>
                </select>
            </div><br>

            <div>
                <label class="texto" for="marca">Marca del producto:</label>
                <input type="text" name="marca" id= "marca" placeholder="Ej. Cartocor">
            </div>

            <div>
                <label class="texto" for="stock">Stock de producto:</label>
                <input type="number" name="stock" placeholder="10" id="stock">
            </div>

            <div>
                <label class="texto" for="price">Precio del producto:</label>
                <input type="number" name="price" placeholder="Ej. 2000 (sin signo $)" id="price">
            </div>
            
            <div>
                <label class="texto" for="discount">Descuento:</label>
                <input type="number" name="discount" placeholder="Ej. 20 ( valor 1 al 100)" id="discount">
            </div>
            <button type="submit" class="boton">CREA TU PRODUCTO</button>
        
        </form>
    </main>
<%-include('./partials/footer')%>
</body>

</html>