<!DOCTYPE html>
<html>
    <head>
        <%-include('./partials/head')%>
        <link rel="stylesheet" href="../css/stylecrear-editar.css">
        <link rel="stylesheet" href="../css/styleHeader.css">
        <title>Editar Producto</title>
        </head>

<body>
<%-include('./partials/header')%>
<main>
        <h3>Editar un producto existente</h3>
        <form action="/views/editar.ejs" method="POST">
            <div>
                <label class="texto">Nombre del producto:</label>
                <input type="text" name="nombreProducto" placeholder="Ej. Velon Rojo">
            </div>
            <div>
                <label class="texto">Descripción del producto:</label>
                <input type="text" name="descripcionProducto" placeholder="Describa el producto aquí">
            </div>

            <div>
                <label class="texto">Imagen:</label>
                <label class="label-imagen">
                    Seleccionar Imagen
                    <input type="file" name="imagen" class="input-imagen">
                </label>
            </div><br>
            <div class ="categoria">
                <label class="texto">Categoría del producto:</label>
                <input type="radio" id= "velas" name="categoria">
                <label class="texto">Velas</label>
                <input type="radio" id= "velones" name="categoria">
                <label class="texto">Velones</label>
                <input type="radio" id= "accesorios" name="categoria">
                <label class="texto">Accesorios</label>
                <input type="radio" id= "otra" name="categoria">
                <label class="texto">Otra</label>
            </div><br>

            <div>
                <label class="texto">Marca del producto:</label>
                <input type="text" name="marca" placeholder="Ej. Cartocor">
            </div>

            <div>
                <label class="texto">Stock de producto:</label>
                <input type="number" name="stock" placeholder="10">
            </div>

            <div>
                <label class="texto">Precio del producto:</label>
                <input type="number" name="precio" placeholder="Ej. 2000 (sin signo $)">
            </div>
            <div>
                <label class="texto">Descuento:</label>
                <input type="number" name="precio" placeholder="Ej. 20 ( valor 1 al 100)">
            </div>
            <button type="submit" class="boton">EDITAR TU PRODUCTO</button>
        
            <p>¿Desea crear un producto? <a href="/products/crear" class="iniciar">Ir a crear producto</a></p>
        </form>
    </main>
<%-include('./partials/footer')%>
</body>

</html>