<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleHeader.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>Header</title>
</head>
<body>   
    <header>
        <div class="divtophead">
            <div class="divlogo">
                <img class="logo" src="/design/logo.jpg" alt="logo">
            </div>
            <div class="divsearch">
                <form>
                    <input class="search" type="text" placeholder="¿Qué estás buscando?">
                </form>
            </div>
            <div class="divcuenta">
                <a href="#"><img src="/design/cuenta.png" alt="micuenta"></a>
                <p>Mi Cuenta</p>
            </div>
            <div class="divcarro">
                <a href="#"><img src="/design/compras.png" alt="carrito"></a>
                <p>Compras</p>
            </div>
        </div>
        <div class="divnav">
            <nav>
                <ul class="nav_links">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Clientes</a></li>
                    <li><a href="#">Contacto</a></li>                
                </ul>            
            </nav>
    </div>
    </header> 
</body>
</html>