<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a Ceramique & Projet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="design/logo.jpg" alt="Logo de Ceramique & Projet">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class=""></i></div>
                </div>
                <p><i class=""></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class=""></i></a></li>
                    <li><a href="/login">Ingresá <i class=""></i></a></li>
                    <li><a href="#">Mis compras <i class=""></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class=""></i>
            </div>
        </header>
        <section class="banner">
            <img src="" alt="Banner de ofertas">
        </section>
        <main>
            <section class="last-visit">
                <h3>Basado en tu última visita</h3>
                <div class="products">
                    <article>
                        <img src="bancoimagenes/a1.jpg" alt="Vela" class="product_img">
                        <div class="main-article">
                            <i class=""></i>
                            <p class="price">$2.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">Alguna descripcion a ver que sale</h4>
                        </div>
                    </article>
                    <article>
                        <img src="bancoimagenes/adsfdsfsdfsdf.jpg" alt="Otra vela" class="product_img">
                        <div class="main-article">
                            <i class=""></i>
                            <p class="price">$5.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">Otras descripciones</h4>
                        </div>
                    </article>
                    <article>
                        <img src="bancoimagenes/anis canela hongo.jpg" alt="Vela de Anis Móvil Samsung Galaxy" class="product_img">
                        <div class="main-article">
                            <i class=""></i>
                            <p class="price">$7.500</p>
                            <p class="discount">10% off</p>
                            <h4 class="description">Vela de hongo, aromatizada con canela y anis</h4>
                        </div>
                    </article>
                    <article>
                        <img src="bancoimagenes/asdasasdsdA.jpg" alt="Mas velas" class="product_img">
                        <div class="main-article">
                            <i class=""></i>
                            <p class="price">$10.200</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Ya no tengo idea que escribir"</h4>
                        </div>
                    </article>
                </div>
            </section>
            <section class="offers">
                <h3>Ofertas</h3>
                <div class="products">
                    <article>
                        <img src="bancoimagenes/bvvcbcbvcvbcvb.jpg" alt="Vela 5" class="product_img">
                        <div class="main-article">
                            <i class=""></i>
                            <p class="price">$6.000</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Mas descripciones</h4>
                        </div>
                    </article>
                    <article>
                        <img src="bancoimagenes/dsasaddsaasd.jpg" alt="Vela 6" class="product_img">
                        <div class="main-article">
                            <i class=""></i>
                            <p class="price">$15.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">Tengo que leer un folleto sobre velas</h4>
                        </div>
                    </article>
                    <article>
                        <img src="bancoimagenes/ertyrhtgfgh.jpg" alt="Vela 7" class="product_img">
                        <div class="main-article">
                            <i class=""></i>
                            <p class="price">$7.500</p>
                            <p class="discount">10% off</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article>
                        <img src="bancoimagenes/fdgdfgdfgg.jpg" alt="Vela 8" class="product_img">
                        <div class="main-article">
                            <i class=""></i>
                            <p class="price">$20.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Ya ni ideas tengo para escribir"</h4>
                        </div>
                    </article>
                </div>  
            </section>
        </main>
        <footer>
            <div> <img src="design/logo.jpg" alt="Logo de Ceramique & Projet"></div>
            <section>
                <h2>Productos</h2>
                <ul>
                    <a href="#"> Enlace 1 </a>
                    <a href="#"> Enlace 2 </a>
                    <a href="#"> Enlace 3 </a>
                </ul>
            </section>
            <section> <!-- contenido de Servicios --> </section>
            <section> <!-- contenido de Nosotros --> </section>
            <section> <!-- contenido de Redes Sociales --> </section>
        </footer>
        
    </body>
</html>