<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a Ceramique & Projet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>

        <header>
            <div class="top-header">
                
                <div class="header">
                
                    <div class="logo"> 
                    <img src="design/logo.jpg" alt="Logo de Ceramique & Projet">
                    </div>
                
                <ul class="enlaces">
                    <li><a href="/register"> <img width ="15px" src ="design/cuenta.png">Creá tu cuenta</a></li>
                    <li><a href="/login"><img width ="15px" src ="design/ingreso.png">Ingresá <i class=""></i></a></li>
                    <li><a href="#"><img width ="15px" src ="design/compras.png">Mis compras <i class=""></i></a></li>
                </ul>
                </div>
                
                
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos</div>
                    <div class="submit"><img width = "15px" src="design/buscador2.png"></div>
                </div>
                <p><img width = "25px" src ="design/tarjeta_credito2.png"> Comprá en cuotas con tarjeta de crédito</p>
            </div>

            <nav>
                <ul>
                    <li><a href="#"><img width ="15px" src ="design/vela_producto.png"> Productos</a></li>
                    <li><a href="#"><img width ="15px" src ="design/oferta.png">Ofertas</a></li>
                    <li><a href="#"><img width ="15px" src ="design/ayuda.png">Ayuda</a></li>
                </ul>
               
            </nav>

            <div class="burger-menu">
                <img src ="design/burger.png">
            </div>

        </header>
        
        <main>
            <div class="imagen">
                <img src="design\banner.webp" alt="Banner">
            </div>
                <h3 class="title-products">PRODUCTOS DESTACADOS</h3>
            <section class="destacados">
                <div class="products">
                    <article>
                        <img src="bancoimagenes/a1.jpg" alt="Vela" class="product_img">
                        <div class="main-article">
                            <i class=""></i>
                            <p class="price">$2.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">Alguna descripcion a ver que sale</h4>
                        </div>
                    </article>
                </div>
                <div class="products">
                    <article>
                        <img src="bancoimagenes/a1.jpg" alt="Vela" class="product_img">
                        <div class="main-article">
                            <i class=""></i>
                            <p class="price">$2.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">Alguna descripcion a ver que sale</h4>
                        </div>
                    </article>
                </div>
                <div class="products">
                    <article>
                        <img src="bancoimagenes/a1.jpg" alt="Vela" class="product_img">
                        <div class="main-article">
                            <i class=""></i>
                            <p class="price">$2.000</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">Alguna descripcion a ver que sale</h4>
                        </div>
                    </article>
                </div>
            </section>
        </main> 
    </body>
</html>