<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a Ceramique & Projet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://kit.fontawesome.com/81fea61b65.js" crossorigin="anonymous"></script>
        <!-- --------------------------------------------------- -->
        <link rel="stylesheet" href="css/styleHeader.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--
        <header>
            
        <section class="wrapper">
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Como Comprar</a></li>
                    <li><a href="#">Conocenos</a></li>
                    <li><a href="#">Domicilios</a></li>
                    <li><a href="#">Como pagar</a></li>
                </ul>
        </nav>
        </section>
         <div>
            
         </div>
        </header>
        -->
        <header>
            <div class="divtophead">
                <div class="divlogo">
                    <img class="logo" src="/design/logo.jpg" alt="logo">
                </div>
                <div class="divsearch">
                    <form>
                        <input class="search" type="text" placeholder="¿Qué estás buscando?">
                    </form>
                </div>
                <div class="divcuenta">
                    <a href="#"><img src="/design/cuenta.png" alt="micuenta"></a>
                    <p>Mi Cuenta</p>
                </div>
                <div class="divcarro">
                    <a href="#"><img src="/design/compras.png" alt="carrito"></a>
                    <p>Compras</p>
                </div>
            </div>
            <div class="divnav">
                <nav>
                    <ul class="nav_links">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Clientes</a></li>
                        <li><a href="#">Contacto</a></li>                
                    </ul>            
                </nav>
        </div>
        </header>        
        <main>
            
            <div class="imagen">
                <img src="bancoimagenes/candle3.jpg" alt="Banner">
            </div>
                <h3 class="title-products">PRODUCTOS DESTACADOS</h3>
            <section class="destacados">
                <div class="products">
                    <article>
                        <img src="bancoimagenes/vela-canela.jpg" alt="Vela" class="product_img">
                        <p class="oferta">30%<br>OFF</p>
                        <div class="main-article">
                            <h4 class="description">VELÓN CANELA</h4>
                            <p class="price-viejo">$2500</p>
                            <p class="price-oferta">$1750</p>
                            <p class="discount">En stock - Entrega imediata</p>
                            <button class="b-anadir" name="anadir">Añadir</button>
                            <button class="b-ver" name="detalles">Detalles</button>
                        </div>
                    </article>
                </div>
                <div class="products">
                    <article>
                        <img src="bancoimagenes/vela-sangre.jpg" alt="Vela" class="product_img">
                        <p class="nuevo"><br>NEW</p>
                        <div class="main-article">
                            <h4 class="description">VELÓN DE SANGRE</h4>
                            <p class="price">$2.500</p>
                            <p class="discount">En stock - Entrega imediata</p>
                            <button class="b-anadir" name="anadir">Añadir</button>
                            <button class="b-ver" name="detalles">Detalles</button>
                        </div>
                    </article>
                </div>
                <div class="products">
                    <article>
                        <img src="bancoimagenes/vela-miel.jpg" alt="Vela" class="product_img">
                        <p class="oferta">15%<br>OFF</p>
                        <div class="main-article">
                            <h4 class="description">VELÓN MIEL</h4>
                            <p class="price-viejo">$2300</p>
                            <p class="price-oferta">$2000</p>
                            <p class="discount">Sin stock</p>
                            <button class="b-anadir" name="anadir">Añadir</button>
                            <button class="b-ver" name="detalles">Detalles</button>
                        </div>
                    </article>
                </div>
                <div class="products">
                    <article>
                        <img src="bancoimagenes/vela-lavanda.jpg" alt="Vela" class="product_img">
                        <div class="main-article">
                            <h4 class="description">VELÓN LAVANDA</h4>
                            <p class="price">$2.200</p>
                            <p class="discount">En stock - Entrega imediata</p>
                            <button class="b-anadir" name="anadir">Añadir</button>
                            <button class="b-ver" name="detalles">Detalles</button>
                        </div>
                    </article>
                </div>
            </section>
        </main> 
        <footer>

            <div class="container__footer">
                <div class="box__footer">
                    <div class="logo">
                        <img src="bancoimagenes/logo.jpg" alt="">
                    </div>
                    
                </div>
                <div class="box__footer">
                    <h2>Sobre Nosotros  </h2>
                    <div class="terms">
                        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima laudantium laborum iste
                            reprehenderit dolore provident, impedit expedita, eligendi facilis architecto reiciendis! Incidunt
                            praesentium, non delectus rerum dolor ratione ipsam voluptatem!</p>
                    </div>
                </div>
                <div class="box__footer">
                    <h2>Compañia</h2>
                    <a href="#">Acerca de</a>
                    <a href="#">Trabajos</a>
                    <a href="#">Procesos</a>
                    <a href="#">Servicios</a>
                </div>
                <div class="box__footer">
                    <h2>Redes Sociales</h2>
                    <a href="#"><i class="fa-brands fa-square-facebook"></i>Facebook</a>
                    <a href="#"><i class="fa-brands fa-square-twitter"></i>Twitter</a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i>Linkedin</a>
                    <a href="#"><i class="fa-brands fa-square-instagram"></i>Instagram</a>
                </div>
            </div>
            <div class="box__copyright">
                <hr>
                <p>Todos los derechos reservados © 2022 <b>Grupo 7</b></p>
            </div>
        </footer>
    </body>
</html>