<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head')%>
    <link rel="stylesheet" href="../css/styleLista.css">
    <link rel="stylesheet" href="../css/styleHeader.css">
        <title>Document</title>
</head>

<body>
    <%-include('./partials/header')%>
        <main>
            <section class="destacados">
                <div class="products">
                    <article>
                        <img src="../bancoimagenes/vela-canela.jpg" alt="Vela" class="product_img">
                        <p class="oferta">30%<br>OFF</p>
                        <div class="main-article">
                            <h4 class="description">VELÓN CANELA</h4>
                            <p class="price-viejo">$2500</p>
                            <p class="price-oferta">$1750</p>
                            <p class="discount">En stock - Entrega imediata</p>
                            <button class="b-anadir" name="anadir">Añadir</button>
                            <button class="b-ver" name="detalles">Detalles</button>
                        </div>
                    </article>
                </div>
                <div class="products">
                    <article>
                        <img src="../bancoimagenes/vela-sangre.jpg" alt="Vela" class="product_img">
                        <p class="nuevo"><br>NEW</p>
                        <div class="main-article">
                            <h4 class="description">VELÓN DE SANGRE</h4>
                            <p class="price">$2.500</p>
                            <p class="discount">En stock - Entrega imediata</p>
                            <button class="b-anadir" name="anadir">Añadir</button>
                            <button class="b-ver" name="detalles">Detalles</button>
                        </div>
                    </article>
                </div>
                <div class="products">
                    <article>
                        <img src="../bancoimagenes/vela-miel.jpg" alt="Vela" class="product_img">
                        <p class="oferta">15%<br>OFF</p>
                        <div class="main-article">
                            <h4 class="description">VELÓN MIEL</h4>
                            <p class="price-viejo">$2300</p>
                            <p class="price-oferta">$2000</p>
                            <p class="discount">Sin stock</p>
                            <button class="b-anadir" name="anadir">Añadir</button>
                            <button class="b-ver" name="detalles">Detalles</button>
                        </div>
                    </article>
                </div>
                <div class="products">
                    <article>
                        <img src="../bancoimagenes/vela-lavanda.jpg" alt="Vela" class="product_img">
                        <div class="main-article">
                            <h4 class="description">VELÓN LAVANDA</h4>
                            <p class="price">$2.200</p>
                            <p class="discount">En stock - Entrega imediata</p>
                            <button class="b-anadir" name="anadir">Añadir</button>
                            <button class="b-ver" name="detalles">Detalles</button>
                        </div>
                    </article>
                </div>
                <div class="products">
                    <article>
                        <img src="../bancoimagenes/vela-lavanda.jpg" alt="Vela" class="product_img">
                        <div class="main-article">
                            <h4 class="description">VELÓN LAVANDA</h4>
                            <p class="price">$2.200</p>
                            <p class="discount">En stock - Entrega imediata</p>
                            <button class="b-anadir" name="anadir">Añadir</button>
                            <button class="b-ver" name="detalles">Detalles</button>
                        </div>
                    </article>
                </div>
                <div class="products">
                    <article>
                        <img src="../bancoimagenes/vela-lavanda.jpg" alt="Vela" class="product_img">
                        <div class="main-article">
                            <h4 class="description">VELÓN LAVANDA</h4>
                            <p class="price">$2.200</p>
                            <p class="discount">En stock - Entrega imediata</p>
                            <button class="b-anadir" name="anadir">Añadir</button>
                            <button class="b-ver" name="detalles">Detalles</button>
                        </div>
                    </article>
                </div>
                <div class="products">
                    <article>
                        <img src="../bancoimagenes/vela-lavanda.jpg" alt="Vela" class="product_img">
                        <div class="main-article">
                            <h4 class="description">VELÓN LAVANDA</h4>
                            <p class="price">$2.200</p>
                            <p class="discount">En stock - Entrega imediata</p>
                            <button class="b-anadir" name="anadir">Añadir</button>
                            <button class="b-ver" name="detalles">Detalles</button>
                        </div>
                    </article>
                </div>
                <div class="products">
                    <article>
                        <img src="../bancoimagenes/vela-lavanda.jpg" alt="Vela" class="product_img">
                        <div class="main-article">
                            <h4 class="description">VELÓN LAVANDA</h4>
                            <p class="price">$2.200</p>
                            <p class="discount">En stock - Entrega imediata</p>
                            <button class="b-anadir" name="anadir">Añadir</button>
                            <button class="b-ver" name="detalles">Detalles</button>
                        </div>
                    </article>
                </div>
                <div class="products">
                    <article>
                        <img src="../bancoimagenes/vela-lavanda.jpg" alt="Vela" class="product_img">
                        <div class="main-article">
                            <h4 class="description">VELÓN LAVANDA</h4>
                            <p class="price">$2.200</p>
                            <p class="discount">En stock - Entrega imediata</p>
                            <button class="b-anadir" name="anadir">Añadir</button>
                            <button class="b-ver" name="detalles">Detalles</button>
                        </div>
                    </article>
                </div>
                <div class="products">
                    <article>
                        <img src="../bancoimagenes/vela-lavanda.jpg" alt="Vela" class="product_img">
                        <div class="main-article">
                            <h4 class="description">VELÓN LAVANDA</h4>
                            <p class="price">$2.200</p>
                            <p class="discount">En stock - Entrega imediata</p>
                            <button class="b-anadir" name="anadir">Añadir</button>
                            <button class="b-ver" name="detalles">Detalles</button>
                        </div>
                    </article>
                </div>
                <div class="products">
                    <article>
                        <img src="../bancoimagenes/vela-lavanda.jpg" alt="Vela" class="product_img">
                        <div class="main-article">
                            <h4 class="description">VELÓN LAVANDA</h4>
                            <p class="price">$2.200</p>
                            <p class="discount">En stock - Entrega imediata</p>
                            <button class="b-anadir" name="anadir">Añadir</button>
                            <button class="b-ver" name="detalles">Detalles</button>
                        </div>
                    </article>
                </div>
                <div class="products">
                    <article>
                        <img src="../bancoimagenes/vela-lavanda.jpg" alt="Vela" class="product_img">
                        <div class="main-article">
                            <h4 class="description">VELÓN LAVANDA</h4>
                            <p class="price">$2.200</p>
                            <p class="discount">En stock - Entrega imediata</p>
                            <button class="b-anadir" name="anadir">Añadir</button>
                            <button class="b-ver" name="detalles">Detalles</button>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <%-include('./partials/footer')%>
</body>

</html>