<!DOCTYPE html>
<html>
<head>
<%-include('./partials/head')%>
<link rel="stylesheet" href="css/styleLogin.css">
<link rel="stylesheet" href="css/styleHeader.css">
<title>Login</title>
</head>

<body>
<%-include('./partials/header')%>
<main>
        <h3>Logueate</h3>
        <form action="/views/login.html" method="POST">
            <div>
                <label class="texto">Nombre Usuario:</label>
                <input type="text" name="nombreUsuario" placeholder="Ej. Juan Perez">
            </div>

            <div>
                <label class="texto">Contraseña:</label>
                <input type="password" name="passwordUsuario">
            </div>
            <button type="submit" class="boton">INGRESÁ</button>

            <p>¿No estas registrado? <a href="/register" class="iniciar">Registrate</a></p>
        </form>
    </main>
<%-include('./partials/footer')%>
</body>

</html>