<!DOCTYPE html>
<html>
<head>
<%-include('./partials/head')%>
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/styleHeader.css">
<title>Index</title>
</head>
<body>
<%-include('./partials/header')%>
<main> 
    <h1>PAGINA NOSOTROS EN ARMADO!!!!!!</h1>
</main> 
<%-include('./partials/footer')%>
    </body>
</html>