*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:#f7ecefc4;
    width: 100%;
}
main{
    margin-bottom: 100px;
    display: flex;
}
.cabecera{
    width: 100%;
    height: 150px;    
}
.fotos{
    width: 50%;
    height: 50%;
}
div .principal{
   
    display: block;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px gray;
    width: 90%;
    height: 70%;
}
div .secundaria{
 display: flex; 
 justify-content:center;  
 
}
.secundaria img{
    width: 20%;
    height: 20%;
    margin-left: 10px;
    box-shadow: 0px 0px 10px gray;
}
.descripcion{
    width: 50%;
    height: 50%;
    
}

.titulo{
    margin-bottom: 10px;
}
.marca{
    font-size:small;
    color:grey;
    margin-bottom: 20px;
}
.price{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.cant label{
    font-size: medium;
    margin-bottom: 10px;
}
.cant input{
    width: 40px;
    height: 25px;
    margin-bottom: 20px;
}
.carrito{
    width: 25%;
    height: 30px;
    border: solid 1px black;
    display: block;
    background-color: black;
    color: antiquewhite;
    border-radius: 5px;
    margin-bottom: 20px;

}
h3{
    color:coral;
   
    margin-top: 5px;
}
.impuestos{
    display: block;
}
.impuestos h4{
    font-size:small;
    color:grey;
    margin-bottom: 20px;
}
div .stock{
    margin-left: 0;
}
.titulo-info{
    margin-bottom: 10px;
    text-decoration: underline;
}
.info,.lista{
    margin-bottom: 5px;
    color: gray;
    font-size: 15px;
}
.lista{
    margin-left: 20px;
}
.botones{
    display: flex;
}

.boton{
    font-size: medium;
    border: solid 1px grey;
    border-radius: 20px;
    display: block;
    justify-content: left;
    margin-left: 10px;
    background-color:coral;
    color: antiquewhite;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

footer {
    width: 100%;
    height: 150px;
}

 @media (min-width: 361px) {
    .imagen img{
        
        height: 50%;
    }
}
@media (min-width: 769px) {
    .imagen img{
        
        height: 70%;
    }
    
}
@media (min-width: 1200px) {
    .imagen img{
        
        height: 100%;
    }
    
}

/*-----Footer ----*/

footer{
    width: 100%;
    height: 100%;
    padding: 50px 0px;
    background-color:antiquewhite;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 100x;
    padding-top: 20%;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color:#343434;
    font-weight: 700;    
}

.box__footer a{
    margin-top: 10px;
    color:#7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
    
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;

}

.box__copyright p{
    margin-top: 20px;
    color:#7a7a7a
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}