*{
    margin: 0px;
    padding: 0px;
}


main{
    margin-bottom: 100px;
}

h3{
    font-size: 24px;
}
article{
    position: relative;
}

article div.main-article{
    width: 100%;
}
.price{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    
}


.products{
    box-shadow: 0px 0px 10px gray;
    margin: 7px;
}



.imagen img{
    width: 100%;
    height: 350px;
    margin:auto;
    display: block;
    
    
}
.title-products{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}
.destacados{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
}
.products article img{
    width: 250px;
    height: 250px;
}
.products article{
  
    background-color:rgba(241, 204, 212, 0.769);
    

}
.botones{
    display: flex;
}
.b-ver{
    margin: auto;
    width: 75px;
    height: 35px;
    background-color:coral;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    color: black;
}

.discount{
    padding: 5px;
    font-size: small;
    color: grey;
    text-align: center;
}
.description{
    font-family: "Lucida Handwriting";
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(15, 8, 8);
}
.oferta{
    width: 50px;
    height: 50px;
    border: solid 1px salmon;
    background-color: red;
    color:ghostwhite;
    font-weight: bold;
    border-radius: 100%;
    text-align: center;
    padding-top: 3px;
    position: absolute;
    z-index: 100;
    top: 5px;
    left: 195px;
}
.nuevo{
    width: 50px;
    height: 50px;
    
    background-color: green;
    color:ghostwhite;
    font-weight: bold;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    z-index: 100;
    top: 5px;
    left: 195px;
}
.price-viejo{
    font-size: 15px;
    text-decoration-line: line-through;
    display: inline;
    padding-left: 20px;
    color: black;
  
}
.price-actual{
    font-size: 25px;
    font-weight: bold;
    display: inline;
    padding-left: 30px;
    color: black;
}
.price-actual2{
    font-size: 25px;
    font-weight: bold;
    display: inline;
    padding-left: 30px;
    margin-left: 60px;
    color: black;
}
.link-productos{
    text-decoration: node;
}
.usuario{
    text-decoration: none;
    font-size:medium;
    color: black;
    margin-bottom: 5px;
}




footer{
    width: 100%;
    height: 100%;
    background-color:antiquewhite;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 100x;
    padding-top: 20%;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color:#343434;
    font-weight: 700;    
}

.box__footer a{
    margin-top: 10px;
    color:#7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
    
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;

}

.box__copyright p{
    margin-top: 20px;
    color:#7a7a7a
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

 @media (min-width: 361px) {
    .imagen img{
        
        height: 50%;
    }
}
@media (min-width: 769px) {
    .imagen img{
        
        height: 70%;
    }
    
}
@media (min-width: 1200px) {
    .imagen img{
        
        height: 100%;
    }
    
}

